/* tipos de letra*/
@import url('https://fonts.googleapis.com/css2? family= Roboto:wght@100;300;500;700;900 & display=swap');
@import 'mediaqueries.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}
/*COLOCAMOS IMAGEN DE FONDO*/
.hero{
    width: 100vw;
    height: 90vh;
    background-image:url(../img/vector.jpeg);
    background-size: 100%;
    max-width: 100%;
}

.navbar{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    padding: 30px;
}
/*distribuimos horizontalmente el menu*/
.navbar .brand{
    color: red;
    margin-top: 10px;
}

.navbar .menu{
    grid-column: 6/9;
    display: flex;
    margin-top: 10px;
}

.menu li{
    list-style: none;
}
/*ingresamos a nuestros enlaces directamente*/
.menu li a{
    text-decoration: none; /*desaparece la linea de por debajo*/
    margin-right: 3em; /*separacion de los menus*/
    font-size: 1.3em; /*incrementa el tamaño de la letra*/
    color: red; /*color de la letra*/
    font-weight: 400; /*resalta o negrilla del texto*/
    padding: 10px 20px;
}

.menu li a:hover{ /*cuando colocamos el puntero encima cambia de color*/
    background-color: lightsalmon;
    transition: all .10s; /*transicion del color*/
    color: black; /*color de la letra*/
}
/*desaparece y aparece las 3 lineas*/
.menu-bar{
    display: none;
}

.main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: 70vh;
    height: 70vh;
}

.content-info{ /*sube o baja h1, h2 y button*/
    margin-top: 5em;
    color: black;
}

button{
    cursor: pointer;
    color: black;
    box-shadow: 0px 3px 14px 8px rgba(10, 10, 10, 0.78);
}

button:hover{
    box-shadow: none;
}

.btn-toBuy, .read-more{
    background-color: rgb(0, 213, 255);
    padding: 8px 40px;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
}

.read-more{
    background: none;
    border: 1px solid black;
    margin: 20px;
}

.main img{
    
    float: right;
    margin-top: -22em;
    
}